
.Header1 {
    font-family: cursive;
    color: black;
    text-align: center;
    padding-top: 50px;



}
body {
    background-color: blanchedalmond; 
}
a {
font-size: 25px;
    display: inline;
    text-decoration: none;
    font-size: 25px;
    margin: 15px;
    color: black;
    
}
.Navl {
    padding: 15px   
}
